h1 {
  font-size: 40px;
  font-family: Trebuchet MS, sans-serif;
  text-align: center;
}
body {
  background-color: #EBF1F1;
}
img {
  position: relative;
  left: px;
  top: 150px;
  display: block;
  margin-left: auto;
}
input {
  position: static;
  top: -300px;
  display: block;
}
button {
  position: static;
  top: -300px;
}
div {
  position: static;
  top: -300px;
}
h3 {
  position: static;
  top: -300px;
}
a {
  position: static;
  top: -300px;
}
