h1 {
  font-size: 40px;
  font-family: Trebuchet MS, sans-serif;
  text-align: center;
}
body {
  background-color: #FFFFFF;
}

input {
  position: static;
  display: block;
  background-color: #FFFFFF;
  border: none;
  margin: auto;
}
#getWeather {
  position: static;
  background-color: #FFFFFF;
  margin: auto;
  display: block;
  font-size: 20px;
}
h3 {
  position: static;
  text-align: center;
}
h4 {
  position: static;
  left: px;
  text-align: center;
}
h5{
  position: static;
  text-align: center;
}
.brook{
  position: static;
  display: block;
  margin: auto;
}
.weather{
  position: static;
  display: block;
  margin: auto;
}
#f{
position: static;
  margin: auto;
  display: block;
}
#c{
position: static;
  margin: auto;
  display: block;
}
#weather-image-right{
  position:absolute;
  right:0;
  bottom:0;
}
#weather-image-left{
  position:absolute;
  left:0;
  bottom:0;
}
